* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #231f1f;
  width: 100vw;
  min-height: 100vh;
}

header {
  width: 100vw;
  min-height: 12vh;
  background-color: #faf9f9;
}

header .navbar {
  min-height: 12vh;
}

header .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .container-fluid .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar a {
  color: #883736 !important;
}

header .navbar a .logoAlgoem {
  width: 15rem;
  margin: auto;
}

@media screen and (min-width: 280px) and (max-width: 336px) {
  header .navbar a .logoAlgoem {
    width: 11rem;
  }
}

@media screen and (min-width: 920px) {
  header .navbar a .logoAlgoem {
    width: 20rem;
  }
}

main {
  width: 100vw;
  min-height: 83vh;
  background-color: #faf9f9;
}

#bannerSection {
  width: 100%;
  height: 86vh;
  padding: 0;
  position: relative;
}

#bannerSection .banner {
  width: 100%;
  height: 100%;
}

#bannerSection .iconDiv {
  position: absolute;
  bottom: 3rem;
  left: 5%;
  right: 5%;
}

#bannerSection .iconBanner {
  padding: 0;
  width: 100%;
}

#bannerSection .wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#bannerSection .wrapper .icon {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (min-width: 475px) {
  #bannerSection .wrapper .icon {
    width: 65px;
    height: 65px;
  }
}

@media screen and (min-width: 820px) {
  #bannerSection .wrapper .icon {
    width: 90px;
    height: 90px;
  }
}

#bannerSection .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#bannerSection .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#bannerSection .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#bannerSection .wrapper .icon:hover span,
#bannerSection .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

#bannerSection .wrapper .facebook:hover,
#bannerSection .wrapper .facebook:hover .tooltip,
#bannerSection .wrapper .facebook:hover .tooltip::before {
  background: #883736;
  color: #ffffff;
}

#serviciosSection {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#231f1f), to(#883736));
  background-image: linear-gradient(to bottom right, #231f1f, #883736);
  color: #faf9f9;
  padding: 2rem;
}

@media screen and (min-width: 776px) {
  #serviciosSection {
    height: 100vh;
  }
}

#serviciosSection span {
  color: #be9695;
}

#serviciosSection .nav-link {
  color: #faf9f9;
}

#serviciosSection .nav-tabs .nav-link.active {
  color: #231f1f !important;
}

#serviciosSection .contentListServices ul li {
  list-style: none;
  font-size: 0.9em;
}

#serviciosSection .imgServicios {
  margin: 0%;
  width: 35%;
}

#serviciosSection .imgServicios img {
  margin: 0;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#serviciosSection .imgServicios img:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#nosotrosSection {
  background-color: #faf9f9;
  color: #883736;
  padding: 2rem;
  width: 100vw;
}

#nosotrosSection p {
  color: #231f1f;
}

#nosotrosSection .vision img {
  width: 50%;
}

#nosotrosSection .mision .misionText {
  color: #883736;
}

#nosotrosSection .mision .misionText p {
  color: #231f1f;
}

@media screen and (min-width: 768px) {
  #nosotrosSection .mision .misionText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 768px) {
  #nosotrosSection .mision .misionImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#nosotrosSection .colorRed {
  color: #883736;
}

#contactoSection {
  height: 50vh;
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#231f1f), to(#883736));
  background-image: linear-gradient(to bottom right, #231f1f, #883736);
  color: #faf9f9;
}

#contactoSection h4 {
  padding: 1rem;
}

#contactoSection span {
  color: #be9695;
}

#contactoSection a {
  text-decoration: none;
  color: #be9695;
}

#contactoSection .imgContacto img {
  width: 100%;
  height: 90%;
}

#empresasSection {
  height: 45vh;
  color: #883736;
}

#empresasSection h3 {
  padding: 2rem;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

#empresasSection .slider {
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E3E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  background: white;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 120px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

#empresasSection .slider::before, #empresasSection .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

#empresasSection .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

#empresasSection .slider::before {
  left: 0;
  top: 0;
}

#empresasSection .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

#empresasSection .slider .slide {
  width: 100%;
}

#empresasSection .slider .slide img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 93px;
  margin-left: 2rem;
}

footer {
  width: 100vw;
  height: 5vh;
  color: #faf9f9;
  font-size: 0.8em;
  text-align: center;
}

.scrolls {
  position: relative;
  bottom: 0;
  height: 30px;
  width: 20px;
}

.scrolls a {
  color: #231f1f;
  text-decoration: none;
}

.scrolls i {
  border-radius: 60%;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
}

@-webkit-keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */