@import "reset";
@import "variables";

// ======== GENERAL STYLES ========

// Body
body{
    background-color: $black;
}

// Header
header{
    width: 100vw;
    min-height: 12vh;
    background-color: $white;
    .navbar{
        min-height: 12vh;
        .container-fluid{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .collapse{
                justify-content: flex-end;
            }
        }
        a{
            color: $main_red !important;
        }
        .logoAlgoem{
            width: 15rem;
            margin: auto;
            @media screen and (max-width: 375px) {
                width: 10rem;
            }
            @media screen and (max-width: 920px) {
                width: 20rem;
            }
        }
    }
}

// Main
main{
    width: 100vw;
    min-height: 83vh;
    background-color: $white;
}

// ======== Styles by Section ========

// Banner
#bannerSection{
    width: 100%;
    max-height: auto;
    padding: 0;
    position: relative;

    .banner{
        width: 100%;
    }
    .iconDiv{
        position: absolute;
        bottom: 0.5rem;
        left: 5%;
        right: 5%;
    }
    .iconBanner{
        padding: 0;
        width: 6%;
        &:hover{
            background-color: $main_red;
            border-radius: 50%;
            border: 2px solid $ligth_red;
        }  
    }
}

// Nuestros Servicios
#serviciosSection{
    background-image: linear-gradient(to bottom right, #231f1f, #883736);
    color: $white;
    border-radius: 10px;
    span{
        color: $ligth_red;
    }
}

// Acerca de Nosotros
#nosotrosSection{
    background-color: $white;
    color: $main_red;
    padding: 2rem;
    width: 100vw;
    p{
        color: $black;
    }
    .vision{
        img{
            width: 40rem;
        }
    }
    .mision{
        .misionText{
            color: $main_red;
            p{
                color: $black;
            }
        }
    }
}

// Contacto
#contactoSection{
    background-image: linear-gradient(to bottom right, #231f1f, #883736);
    h2{
        color: $white;
    }
    h3{
        color: $white;
    }
}

// Clientes
#empresasSection{
    color: $main_red;

    @mixin white-gradient {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }

    // Animation
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
    }

    // Styling
    .slider {
        width: 100vw;
        align-items: center;
        background: #E3E3E3;
        display: flex;
        flex-direction: row;
        height: 100vh;
        justify-content: center;
        gap: 2rem;

        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 100px;
        margin: auto;
        overflow:hidden;
        position: relative;
        width: 960px;
        
        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }
        
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
        }
        
        .slide {
            width: 100%;
            img{
                height: fit-content;
                width: 93px;
                margin-left: 2rem;
            }
        }
    }
}

//Footer
footer{
    width: 100vw;
    height: 5vh;
    color: $white;
    font-size: 0.8em;
    text-align: center;
}

//Subir
.subir{
    a{
        color: $black;
        text-decoration: none;
    }
}