@import "reset";
@import "variables";

// ======== GENERAL STYLES ========
//HTML
html {
    overflow-x: hidden;
}

// Body
body {
    background-color: $black;
    width: 100vw;
    min-height: 100vh;
}

// Header
header {
    width: 100vw;
    min-height: 12vh;
    background-color: $white;

    .navbar {
        min-height: 12vh;

        .container-fluid {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .collapse {
                justify-content: flex-end;
            }
        }

        a {
            color: $main_red  !important;

            .logoAlgoem {
                width: 15rem;
                margin: auto;

                @media screen and (min-width: 280px) and (max-width:336px) {
                    width: 11rem;
                }

                @media screen and (min-width: 920px) {
                    width: 20rem;
                }
            }
        }
    }
}

// Main
main {
    width: 100vw;
    min-height: 83vh;
    background-color: $white;
}

// ======== Styles by Section ========

// Banner
#bannerSection {
    width: 100%;
    height: 86vh;
    padding: 0;
    position: relative;

    .banner {
        width: 100%;
        height: 100%;
    }

    .iconDiv {
        position: absolute;
        bottom: 3rem;
        left: 5%;
        right: 5%;
    }

    .iconBanner {
        padding: 0;
        width: 100%;
    }

    //Popups
    .wrapper {
        display: inline-flex;
        list-style: none;
        justify-content: space-evenly;

    }

    .wrapper .icon {
        background: rgba(0, 0, 0, 0);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        @media screen and (min-width: 475px) {
            width: 65px;
            height: 65px;
        }

        @media screen and (min-width: 820px) {
            width: 90px;
            height: 90px;
        }
    }

    .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: #ffffff;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #ffffff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
        background: $main_red;
        color: #ffffff;
    }
}

// Nuestros Servicios
#serviciosSection {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #231f1f, #883736);
    color: $white;
    padding: 2rem;
    @media screen and (min-width: 776px) {
        height: 100vh;
    }

    span {
        color: $ligth_red;
    }

    .nav-link {
        color: $white;
    }

    .nav-tabs .nav-link.active {
        color: $black  !important;
    }

    .contentListServices {
        ul {
            li {
                list-style: none;
                font-size: 0.9em;
            }
        }
    }
    .imgServicios{
        margin: 0%;
        width: 35%;
        img{
            margin: 0;
            border-radius: 5px;
            transition: transform .2s;
            &:focus{
                transform: scale(1.5);            
            }
        }
    }
}

// Acerca de Nosotros
#nosotrosSection {
    background-color: $white;
    color: $main_red;
    padding: 2rem;
    width: 100vw;

    p {
        color: $black;
    }

    .vision {
        img {
            width: 50%;
        }
    }

    .mision {
        .misionText {
            color: $main_red;
            p {
                color: $black;
            }
            @media screen and (min-width: 768px) {
                order: 1;
            }
        }
        .misionImg{
            @media screen and (min-width: 768px) {
                order: 2;
            }
        }
    }

    .colorRed {
        color: $main_red;
    }

}

// Contacto
#contactoSection {
    height: 50vh;
    padding: 2rem;
    background-image: linear-gradient(to bottom right, #231f1f, #883736);
    color: $white;

    h4 {
        padding: 1rem;
    }

    span {
        color: $ligth_red;
    }

    a {
        text-decoration: none;
        color: $ligth_red;
    }
    .imgContacto{
        img{
            width: 100%;
            height: 90%;
        }
    }
}

// Clientes
#empresasSection {
    height: 45vh;
    color: $main_red;

    h3 {
        padding: 2rem;
    }

    @mixin white-gradient {
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    // Animation
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 7))
        }
    }

    // Styling
    .slider {
        width: 100vw;
        align-items: center;
        background: #E3E3E3;
        display: flex;
        flex-direction: row;
        height: 100vh;
        justify-content: center;
        gap: 2rem;

        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 120px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100vw;

        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
        }

        .slide {
            width: 100%;

            img {
                height: fit-content;
                width: 93px;
                margin-left: 2rem;
            }
        }
    }
}

//Footer
footer {
    width: 100vw;
    height: 5vh;
    color: $white;
    font-size: 0.8em;
    text-align: center;
}

//Subir
.scrolls {
    position: relative;
    bottom: 0;
    a {
        color: $black;
        text-decoration: none;
    }
    height: 30px;
    width: 20px;
    i{
        border-radius: 60%;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse-black 2s infinite;
        
        @keyframes pulse-black {
            0% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            }
            
            70% {
                transform: scale(1);
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            }
            
            100% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
        }
    }
}
